* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    padding: 2%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-right: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 14px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.root-section,
.folders-section,
.info-section {
    border: 1px solid rgb(150, 150, 150);
    padding: 1%;
}

.root-section {
    width: 30%;
}

.folders-section {
    width: 60%;
}

.info-section {
    width: 30%;
}

.root-section li,
.folders-section li,
.info-section li {
    list-style: none;
    margin: 2%;
}

.root-section .folder {
    /* border: 1px solid rgb(199, 199, 199); */
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.root-section .folder-name {
    border: 1px solid rgb(199, 199, 199);
    height: 100%;
    margin: 1%;
    display: flex;
}

.root-section .rename-delete a {
    margin: 6px;
}

form {
    margin: 20px 0;
}

.delete-button {
    background-color: rgb(240, 147, 147);
    border: 1px solid rgb(77, 77, 77);
    padding: 2px;
}